.navbar{
    background-color: var(--primary-color) !important;
    margin: 0 !important;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 2px var(--secondary-color) !important;;
}

.navbar > * {
    color: var(--secondary-color) !important;
}
