:root{
    --primary-color: #8657db;
    --secondary-color: #ffffff;
    --dark-primary-color: #000000;
    --dark-secondary-color: #8657db;
    --overlay-bg: #00000096;
}

.page-layout{
    display: grid;
    background-color: var(--primary-color)
}
